.myicon{
    color:red ;
font-size: 30px;
    font-size-adjust: 25px; ;

}
.myborder:hover
{
    background-color:bisque;
    border: 1px solid cyan;
color:white;
}
.myborder > div
{

border-left: 1px solid pink;
}

#about-us {
    background-image: url("images/7555.jpg");
    background-repeat: no-repeat;
    height: 300px;
    background-size: cover;
}

.mynavbar{
    background-color: #1c1be2;
    font-weight: bolder;
    color:white;
}
 
a.dropdown-toggle{
    color: white;

}
.mylabel{
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color:white;
}