.myicon{
    color:red ;
font-size: 30px;
    font-size-adjust: 25px; ;

}
.myborder:hover
{
    background-color:bisque;
    border: 1px solid cyan;

}
.myborder > div
{

border-left: 1px solid red;
}

#about-us {
    background-image: url("images/7555.jpg");
    background-repeat: no-repeat;
    height: 300px;
    background-size: cover;

}